@import '_mixins'
@import '_typography'



icon-style()
	font-family FontAwesome
	font-size 1.3em
	position absolute
	left 50%		
	top 50%
	transform-center-both()
	color $accent-color
	transition all .3s ease
	z-index 9999999999999

heading-style()
	color white
	font-weight 100
	font-size 1.7em
	line-height 1.5
	font-weight roman
	opacity 0.8
	padding-bottom 4px


header
	background-image geturl("/images/hello_sylvia.png")
	height 100vh
	background-attachment fixed
	background-position center -14px
	background-size cover
	position relative
	background-repeat no-repeat
	.logo 
		padding-bottom 18px
		img
			margin 0 auto
			display block
	&:after
		content ""
		background rgba(0 0 0 0.7)
		width 100%
		height 100%
		position absolute
		left 0
		top 0

	.front-end
		text-align center
		position relative
		padding-bottom 1px
		max-width 555px
		min-width 470px
		margin 0 auto
		&:after
			content ""
			width 200px
			height 2px
			position absolute
			bottom 0
			left 50%
			transform-center-x()
			background white
		h2
			heading-style()

		.front-end h2
			font-size 28px

	.social__buttons
		ul 
			padding 0
			margin-top 26px
			a
				li 
					width 77px
					display inline-block
					ease-transition()
					
					&.twitter
						position relative
						&:before
							content "\f099"
							icon-style()
					&.email
						position relative
						&:before
							content "\f0e0"
							icon-style()
					&.github
						position relative
						&:before
							content "\f113"
							icon-style()
					&.twitter,
					&.email,
					&.github
						ease-transition()
						&:hover
							.social__buttons-circle
								&:before
									background rgba(225,225,225,0.2)
					.social__buttons-circle
						width 50px
						height 50px
						border 1px solid white
						border-radius 50%
						margin 0 auto
						position relative
						&:before
							content ""
							width 55px
							height 55px
							border 1px solid white
							border-radius 50%
							position absolute
							left 50%
							top 50%
							transform-center-both()
							margin 0 auto
							ease-transition()
						
	.arrow__down
		padding-top 50px
		i 
			color white
			font-size 3.4em
			opacity 0.7

@media $mobile-only
	header 
		.arrow__down
			padding-top 20px
						

@media $mobile-small
	.social_buttons
		ul li 
			width 85px
	
	header 
		.logo
			padding-top 28px
			img
				width 240px
			
		.arrow__down
			display none
		.front-end
			min-width 345px
.container 
	max-width 1200px
	margin 0 auto
	
	.header__content
		position: absolute
		top: 50%
		left: 50%
		transform-center-both()
		z-index 100

@media $mobile-and-down
	header
		height 625px
		background-position center left
		background-attachment scroll
		.front-end
			min-width 270px
			h2
				font-size 1.3em
		
.clearfix 
	clear both
