$mobile-and-down 		= "screen and (max-width: 480px)"
$mobile-small    		= "screen and (max-width: 600px)"
$mobile-only     		= "screen and (max-width: 767px)"
$small-desktop-and-down = "screen and (max-width: 950px)"
$tablet-and-up   		= "screen and (min-width: 768px)"
$desktop-and-up  		= "screen and (min-width: 1100px)"

$prefix = "/wp-content/themes/theme-hackeryou"

geturl($url)
    url($prefix + $url)

@font-face 
  font-family 'iowan-old-style'
  src url('./fonts/bitstream-iowan-old-style-bt.ttf')

remove-blur()
	-webkit-backface-visibility hidden

ease-transition()
	transition all .3s ease

transform-center-both()
	transform translate(-50%, -50%)

transform-center-x()
	transform translateX(-50%) 

transform-center-y()
	transform translateY(-50%)  


$grey = #BFBFC4
$l-grey = #D1D2D4
$ll-grey = #F1F1F2
$ll-yellow = #FFFCDB
$l-yellow = #FFF8A5
$accent-color = #FFF46A
$black = #333333
	
