
@import '_mixins'
@import '_typography'

anchor-hover()
	&:after
		content ""
		width 100%
		height 5px
		background $accent-color
		position absolute
		bottom 0
		left 0
		opacity 0
		-webkit-transition opacity 0.3s, transform 0.3s
		transition opacity 0.3s, transform 0.3s
		-webkit-transform translateY(10px)
		transform translateY(10px)
	&:hover
		
		&:after
			opacity 1
			transform translateY(0px)


a 
	color $black
	font-size 0.9em

.main-nav-scrolled 
	position fixed
	width 100%
	top 0
	left 50%
	background white
	z-index 1000
	transform translateX(-50%)
	transition opacity 0.3s
	remove-blur()
	box-shadow 0 2px 9px rgba(0,0,0,0.3)
	-webkit-box-shadow 0 2px 9px rgba(0,0,0,0.3)
	.menu__trigger
		margin-top 36px
		margin-right 32px
	.logo 
		top 14px 
		left 21px
	ul
		position fixed
		border none
		background white
		position absolute
		padding-bottom 46px
		// height 282px
		// ease-transition()
		&.show__menu
			height 282px
			
		&:after
			opacity 0
			display none
		
		li	
			img 
				background none
			a 
				position relative
				padding-bottom 5px
				anchor-hover()
				&:hover
					color black
						



@media $mobile-only
	.main-nav-scrolled
		ul
			padding-top 100px
			padding-bottom 0
			// ease-transition()


nav
	position relative
	z-index 1000
	width 100%
	height 100px
	text-align center
	remove-blur()

	
	.menu__trigger
		width 37px
		height 23px
		position relative
		float right 
		margin-top 26px
		margin-right 10px
		z-index 10000
		display none
		.menu__trigger-line
			width 100%
			height 3px
			background $black
			&:before
				content ""
				width 100%
				height 3px
				background $black
				position absolute
				top 44%
				left 0
			&:after
				content ""
				width 100%
				height 3px
				background $black
				position absolute
				bottom 0
				left 0
		&.menu__trigger-close
			margin-top 29px
			.menu__trigger-line
				background white
				// transform: rotate(-85deg);
				&:before
					transform rotate(-45deg)
					top 14px
				&:after
					transform rotate(-138deg)
					bottom 6px
	.logo
		position absolute
		left 0
		top 14px
		z-index 100000
		display none
		img
			width 120px	
	ul
		width 100%
		margin 0 auto
		padding-left 0
		position relative
		padding-top 35px
		padding-bottom 22px
		border-bottom 3px solid $grey
		z-index 100		
		opacity 1
		
		&:after
			content ""
			background $grey
			position absolute
			bottom 3px
			left 0
			width 100%
			height 2px
			opacity 1
		
		li
			display inline
			margin 0 22px
			color $black
			&:nth-child(2)
				padding-right 144px
				
			a 
				position relative
				padding-bottom 5px
				anchor-hover()
				&:hover
					color black
				
		

		img
			width 120px
			vertical-align middle
			margin-top -17px
			background white
			position relative
			z-index 1000
			position absolute
			left 50%
			top 29px
			transform translate
			transform translateX(-50%)

@media $mobile-only
	nav
		.menu__trigger
			display block
			margin-top 40px
		ul
			
			padding-top 42px
			padding-bottom 0
			overflow hidden
			height 0
			&.show__menu
				height 232px
				background white
			li 
				display block
				padding 10px 0
				&:nth-child(2)
					padding-right 0
				&:nth-child(3)
					position absolute
					top 0
					left 38px
					display none
				a 
					display block
					&:after
						display none
		.logo
			display block

