/*
* Theme Name: HackerYou Starter Theme
* Theme URI: http://hackeryou.com;
* Description: Starter theme for building any website. Created by HackerYou. * Rename this to your own theme page.
* Version: 1.0
* Author: HackerYou
* Author URI: http://hackeryou.com
*/

@import '_normalize'
@import '_typography'
@import '_navigation'
@import '_footer'
@import '_header'
@import '_mixins'
/*
====================================
Default Styling
====================================
*/


body 
	color blue
	font-family 'iowan-old-style'
	


	
.work
	margin-top 90px
	-webkit-column-count 2
	-moz-column-count 2
	column-count 2
	-webkit-column-gap 40px
	-moz-column-gap 40px
	column-gap 40px
	


	.work_container
		margin-bottom 30px
		position relative
		-webkit-column-break-inside avoid
		page-break-inside avoid
		break-inside avoid
		background $ll-grey
		transition all 0.5s ease
		&:hover
			.work_square img
				-webkit-transform scale(1.1)
				transform: scale(1.1)

		.bottom_square
			background white
		.work_square
			padding 76px 0
			padding-top 30px
			border-bottom 12px solid white
			transition all 0.5s ease
			img
				-webkit-transform scale(1)
				transform scale(1)
				ease-transition()
				remove-blur() 

		&:nth-child(1)
			height 400px
			// height 550px
			border none
			position relative
			font-size 1.4em
			line-height 1.2
			background white
			color $black
			h2
				color $black
				z-index 1
				padding-top 63px
				max-width 263px
				margin 0 auto
					
				&:before
					content ""
					width 260px
					height 260px
					border 2px solid $accent-color 
					position absolute
					bottom 10px
					left 50%
					z-index -1
					-webkit-transform translateX(-50%) rotate(44deg)
					-ms-transform translateX(-50%) rotate(44deg)
					transform: translateX(-50%) rotate(44deg)
				&:after
					content ""
					width 100px
					height 4px
					background $black
					position absolute
					bottom 0
					left 50%
					transform-center-x()



		img
			width 100%
			height 100%
		.bottom_square
			width 100%
			// height 160px
			padding 24px 30px 13px 29px
			border-top 4px solid $ll-grey
			position relative

			h2
				font-family 'iowan-old-style'
				font-style normal
				margin 9px 0
				text-transform uppercase
				color $black
				font-size 1.3em
				text-align left
			h3
				font-size 1em
				line-height 1.5
				color $black
				text-align left				

@media $mobile-only
	.work
		-webkit-column-count 1
		-moz-column-count 1
		column-count 1
		margin-top 0

@media $tablet-and-up
	.work
		&.no__snapping
			margin-top 230px
		

.content 
	float left
	width 65%
	margin-right 5%

.about 
	width 100%
	height 1010px
	background geturl("/images/forest-large.jpg")
	background-attachment fixed
	background-position center center
	background-size cover
	position relative
	padding-top 50px
	&:before
		content ""
		width 100%
		height 100%
		position absolute
		background rgba(0,0,0,0.7)
		top 0
		left 0
	.profile_img
		width 300px
		margin 0 auto
		padding-top 95px
		position relative
		img 
			width 100%
			height 100%
			border-radius 50%
		&:before
			content ""
			width 260px
			height 260px
			border 2px solid $accent-color
			position absolute
			top 104px
			left 14px
			-webkit-transform rotate(47deg)
			-ms-transform: rotate(47deg)
			transform: rotate(47deg)
	h2
		position relative
		margin 35px 0
		font-weight 400
		margin-top 57px
		&:after
			content ""
			width 100px
			height 3px
			background $accent-color
			position absolute
			bottom 0
			left 50%
			transform-center-x()
	p 	
		font-family 'iowan-old-style'
		font-size 1.2em
		text-align center
		color $l-yellow
		position relative
		max-width 608px
		margin 0 auto
		line-height 1.9
		font-weight 100
		padding 0 30px

@media $mobile-and-down
	.about
		height 1000px
		h2
			margin 63px 0 45px 0
			font-size 4em
			&:after
				bottom -16px
		p 
			font-size 1em
		.profile_img
			width 236px
			&:before
				width 200px
				height 200px
				top 108px
				left 16px
			

				
	
.blog
	background white
	width 100%
	height auto
	position relative
	padding-bottom 30px

	.container
		width 90%
		text-align center
		
		h2.blog_heading
			margin 100px 0
			font-size 5em
			color $black
			text-align left
			z-index 43
			width 46%
			display inline-block
			&:before
				content ""
				width 260px
				height 260px
				border 3px solid $accent-color
				position absolute
				top 0
				left 91px
				-webkit-transform rotate(47deg)
				-ms-transform: rotate(47deg)
				transform: rotate(47deg)
				z-index -2	

		.blog_line
			width 47%
			height 3px
			background $black
			display inline-block
			position relative
			z-index 100
			vertical-align middle
			margin-bottom 20px
		.blog_container
			border 1px solid rgb(133,133,133)
			width 30%
			height 527px
			display inline-block
			vertical-align top
			text-align left
			position relative
			z-index 53
			ease-transition()
			&:hover
				box-shadow 0 2px 9px rgba(0,0,0,0.55)
				-webkit-box-shadow 0 2px 9px rgba(0,0,0,0.55)
			&:nth-child(4)
				margin 0 1.6%
			.blog_square
				width 100%
				height 260px
				
				img
					width 100%
					height 100%
					object-fit cover
					opacity 1
					transition all 0.5s ease

			.bottom_blog_square
				margin 0 auto
				padding 23px
				position relative
				height 265px
				
				
				a.blog_link 
					display block 
					height 100%
					
				
				h3
					margin-bottom 10px
					line-height 1.5
					color $black
					padding-bottom 8px
					border-bottom 2px solid $black
					position relative
					font-weight 700
					font-size 1.3em

				p	
					margin-top 15px
					font-size 1em
					a 
						color $black
						&:nth-child(2)
							background none
							position absolute
							bottom 21px
							left 26px
							

@media $small-desktop-and-down
	.blog
		// height 1150px
		.container
			.blog_line
				margin-bottom 45px
				width 27%
			h2.blog_heading
				width 72%
				min-width 484px
				margin-bottom 55px
			.blog_container
				height 276px
				width 100%
				&:nth-child(4)
					margin 34px 0
				
				.blog_square
					width 46%
					height 100%
					display inline-block
			
				.bottom_blog_square
					width 52%
					margin 0
					display inline-block
					vertical-align top
					margin 0
					p 
						font-size 1.1em
						a:nth-child(2)
							left 23px

@media $mobile-and-down
	.blog
		.container
			h2.blog_heading
				width 62%
				font-size 4em
				min-width 220px
				margin 70px 0 37px 0
				&:before
					width 200px
					height 200px
					left 11px
				 
			.blog_container
				height 487px
				.blog_square
					width 100%
					height 230px
				.bottom_blog_square
					width 100%
					p 
						a:nth-child(2)
							bottom 36px
							left 22px

.form_section
	width 100%			
	height 930px
	background geturl("/images/forest-large.jpg")
	background-attachment fixed
	background-position center center
	background-size cover
	position relative
	&:before
		content ""
		width 100%
		height 100%
		position absolute
		background rgba(0,0,0,0.75)
		top 0
		left 0
	form
		position relative
		margin-top 200px
		width 67%
		max-width 570px
		margin 0 auto
		
		input, textarea
			width 100%
			margin 12px 0
			background none
			border none
			border-bottom 1px solid $l-yellow
			color $l-yellow
			font-family 'iowan-old-style'
			outline none
			line-height 1.7
		::-webkit-input-placeholder
			color $l-yellow
		:-moz-placeholder /* Firefox 18- */
			color $l-yellow
		::-moz-placeholder   /* Firefox 19+ */
			color $l-yellow
		:-ms-input-placeholder  
			color $l-yellow
		input[type=submit]
			width 82px
			height 41px
			border 1px solid $l-yellow
			position absolute
			right 0
			top 245px
			ease-transition()
			&:hover
				background rgba(225,225,225,0.2)
	h2
		padding-top 100px
		padding-bottom 10px
		&:after
			content ""
			width 100px
			height 3px
			background $accent-color
			position absolute
			bottom 0
			left 50%
			transform-center-x()
		
	p 
		position relative
		color $l-yellow
		max-width 560px
		margin 0 auto
		line-height 1.7
		padding-bottom 30px
		margin-bottom 35px

@media $mobile-small
	.form_section
		height 990px
		form
			max-width 100%
			width 100%
			height 480px
		
.full 
	width 100%

			
@media $small-desktop-and-down
	.work
		.work_container
			&:nth-child(1)
				h2:before
					width 200px
					height 200px

@media $mobile-and-down
	.work 
		margin-top 0
		.work_container
			h2
				font-size 4em
				&:before
					width 200px
					height 200px

h2.success__msg
	font-size 3em
	max-width 610px
	color $l-yellow
	margin 23px 0
	font-weight 400
	margin 0 auto
	margin-top 170px
	padding 0 40px

.success__page
	background geturl("/images/forest-large.jpg")
	background-attachment fixed
	background-position center center
	background-size cover
	position relative
	&:before
		content ""
		width 100%
		height 100%
		position absolute
		background rgba(0,0,0,0.75)
		top 0
		left 0

	a.back__button
		width 220px
		display block 
		padding 10px
		border 1px solid $l-yellow
		color $l-yellow
		font-size 1.5em
		margin 0 auto
		text-align center
		margin-top 40px
		position relative
		ease-transition()
		// transform-center-x()
		&:hover
			background rgba(225,225,225,0.2)





